.one p {
    color: blue;
 }
 
 .red
 {
   color: red;
 }

 .yellow
 {
   color: yellow;
 }

 #hitam
 {
   color: black;
 }

 #blue
 {
   color: blue;
 }

 .text-bold
 {
   color: blue;
   font-weight: bold;
 }

 .text-blue
 {
   color: blue;
 }

 .text-size-blue
 {
   font-size: 24px;
   color: blue;
 }

 .five
 {
   color: blue;
 }

 .parent
 {
   color: yellow;
 }

 #hitam
 {
   color: black;
 }

 #container
 {
   color: yellow;
 }